@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Platypi", serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    color: black;
    background: url('bg\ \(1\).jpg');
    padding-top: 4%;
    padding-left: 6%;
}
.container h1 {
    display:flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 img{
    width: 60px;
}
.container button{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    color: white;
    background: linear-gradient(#9418fd,#571094);
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 20px;
    margin: 30px 0 20px;
    cursor: pointer;
    
}
.container button img{
    width:30px;
    margin-right: 8px;
    border-radius: 10px;
}
.input-box{
    position: relative;
    width:100%;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    padding: 20px;
    margin:20px 0;
    border-radius: 5px;
    outline:none;
}
.input-box img{
    width: 35px;
    position: absolute;
    bottom:15px;
    right: 15px;
    cursor: pointer;
    border-radius: 5px;
}
